/*Importing Font Styles from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/*-------------------------------------------------
                    Base Styles
-------------------------------------------------*/
*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--dark-cyan: hsl(158, 36%, 37%);
	--cream: hsl(30, 38%, 92%);
	--veryDark-blue: hsl(212, 21%, 14%);
	--dark-grayishBlue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
}

img {
	display: block;
	max-width: 100%;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	background-color: var(--cream);
	font-size: .9rem;
	font-family: 'Montserrat', sans-serif;
	color: var(--veryDark-blue);
}

/*-------------------------------------------------
                    Card Styles
-------------------------------------------------*/
.card {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.card__head {
	background-image: url('../images/image-product-mobile.jpg');
	background-position: center;
	background-size: cover;
	min-height: 18rem;
	border-radius: .4rem .4rem 0 0;
}

.card__body {
	background-color: var(--white);
	border-radius: 0 0 .4rem .4rem;
	padding: 1.5rem 2rem;
}

.card__subtitle {
	font-weight: 500;
	font-size: .8rem;
	letter-spacing: 5px;
	margin-bottom: .8rem;
	color: var(--dark-grayishBlue);
}

.card__title {
	font-family: 'Fraunces', serif;
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

.card__content {
	color: var(--dark-grayishBlue);
	line-height: 23px;
	margin-bottom: 1.2rem;
}

.card__price {
	display: inline-block;
	position: relative;
	color: var(--dark-cyan);
	font-size: 2rem;
	line-height: 2rem;
	font-family: 'Fraunces', serif;
	margin-bottom: 1rem;
}

.card__price::after {
	content: '$169.99';
	position: absolute;
	font-size: .8rem;
	font-family: 'Montserrat', sans-serif;
	color: var(--dark-grayishBlue);
	text-decoration: line-through;
	right: -4rem;
}

/*-------------------------------------------------
                    Button Styles
-------------------------------------------------*/

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	width: 100%;
	background-color: var(--dark-cyan);
	color: var(--white);
	font-size: 1rem;
	font-weight: 700;
	min-height: 2.7rem;
	border-radius: .4rem;
	cursor: pointer;
}

.btn:hover {
	background-color: #1A4032;
}

.btn__icon {
	margin-right: .7rem;
}

/*-------------------------------------------------
                    Media Queries
-------------------------------------------------*/
@media (min-width: 37em) {
	.card {
		display: flex;
		max-width: 44rem;
		min-height: 30rem;
	}

	.card__head {
		background-image: url('../images/image-product-desktop.jpg');
		width:  50%;
		border-radius:  .4rem 0 0 .4rem;
	}

	.card__body {
		width:  50%;
		border-radius: 0 .4rem .4rem 0;
		padding:  3rem;
	}

	.card__subtitle {
		margin-bottom: 1rem;
	}

	.card__title,
	.card__content {
		margin-bottom: 1.5rem;
	}

	.card__price {
		margin-bottom: 2rem
	}
}